.bk-input-errors {
	margin: 1rem 0 0 0;
	display: inline-block;

	li {
		margin: 0;
		padding: 0.5rem 0;
	}
}

.bk-hidden {
	display: none;
}

.backyard-form {
	h1 ~ .notice {
		margin-left: 0;
		margin-right: 0;
	}
}
